{{define "fornecedor"}}
<!DOCTYPE HTML>
<html>
<head>
    <title>{{.Nome}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Open graph tags -->
    <meta property="og:url"                content="https://www.contratospublicos.info/fornecedor?cnpj={{.Cnpj}}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{.Nome}}" />
    <meta property="og:locale"             content="pt_BR" />
    <meta property="og:description"        content="Resumo dos contratos públicos de {{.Nome}} {{.Cnpj}} {{if .Tipo}} &bull; {{.Tipo}}{{end}} &bull; {{.Legislatura}}" />
    <meta property="og:image"              content="http://www.contratospublicos.info/images/logo.svg" />

    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link href="//mottie.github.io/tablesorter/css/theme.default.css" rel="stylesheet">
</head>

<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h1>{{.Nome}}</h1>
        <p><b>{{.Cnpj}} {{if .Tipo}} &bull; {{.Tipo}}{{end}} &bull; {{.Legislatura}}</b></p>
    </header>

    <nav id="nav">
        <ul>
            <li><a href="#dados">A Empresa</a></li>
            {{if .ResumoContratos.Municipios}}
                <li><a href="#municipio">Contratos por Município</a></li>
            {{end}}
            {{if .ResumoContratos.Partidos}}
                <li><a href="#partido">Contratos por Partido</a></li>
            {{end}}
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <section id="dados" class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>A Empresa</h2>
                    </header>
                    <dl class="alt">
                        <b>Nome:</b>&nbsp;&nbsp;{{.NomeFantasia}}<br>
                        <b>CNPJ:</b>&nbsp;&nbsp;{{.Cnpj}}<br>
                        <b>Tipo:</b>&nbsp;&nbsp;{{.Tipo}}<br>

                        {{if .DataAbertura}}
                        <b>Abertura:</b>&nbsp;&nbsp;{{.DataAbertura}}<br>
                        {{end}}

                        {{if .EnderecoParte1}}
                        <b>Endereço:</b>&nbsp;&nbsp;{{.EnderecoParte1}} &bull; {{.EnderecoParte2}}<br>
                        {{end}}

                        {{if .Telefone}}
                        <b>Fone:</b>&nbsp;&nbsp;{{.Telefone}}<br>
                        {{end}}
                    </dl>
                    {{if .AtividadePrimaria}}
                    <h3>Atividades Econômicas Primárias</h3>
                    <table id="tabelaAtividadesPrimarias" class="tablesorter">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .AtividadeSecundaria}}
                        <tr>
                            <td>{{.Code}}</td>
                            <td>{{.Text}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{end}}
                    {{if .AtividadeSecundaria}}
                    <h3>Atividades Econômicas Secundárias</h3>
                    <table id="tabelaAtividadesSecundarias" class="tablesorter">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .AtividadeSecundaria}}
                        <tr>
                            <td>{{.Code}}</td>
                            <td>{{.Text}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{end}}
                </div>
            </div>
        </section>
        {{if .ResumoContratos.Municipios}}
            <section id="municipio" class="main">
                <header class="major">
                    <h2>Contratos Por Município</h2>
                </header>
                <dl class="alt">
                        <dt>Valor: </dt>
                        <dd>R$ {{.ResumoContratos.ValorContratos}}</dd>
                        <dt>Qtd: </dt>
                        <dd>{{.ResumoContratos.NumContratos}}</dd>
                </dl>
                <table id="tabelaMunicipios" class="tablesorter">
                    <thead>
                    <tr>
                        <th>Município</th>
                        <th>Partido</th>
                        <th>Valor (R$)</th>
                        <th>Qtd</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{range .ResumoContratos.Municipios}}
                            <tr>
                                <td>{{.Nome}}</td>
                                <td>{{.SiglaPartido}}</td>
                                <td>{{.ResumoContratos.Valor}}</td>
                                <td>{{.ResumoContratos.Quantidade}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </section>
        {{end}}
        {{if .ResumoContratos.Partidos}}
            <section id="partido" class="main">
                <header class="major">
                    <h2>Contratos Por Partido</h2>
                </header>
                <dl class="alt">
                    <dt>Valor: </dt>
                    <dd>R$ {{.ResumoContratos.ValorContratos}}</dd>
                    <dt>Qtd: </dt>
                    <dd>{{.ResumoContratos.NumContratos}}</dd>
                </dl>
                <table id="tabelaPartidos" class="tablesorter">
                    <thead>
                    <tr>
                        <th>Partido</th>
                        <th>Valor (R$)</th>
                        <th>Qtd</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .ResumoContratos.Partidos}}
                    <tr>
                        <td>{{.Sigla}}</td>
                        <td>{{.ResumoContratos.Valor}}</td>
                        <td>{{.ResumoContratos.Quantidade}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </section>
        {{end}}
    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; contratospublicos.info. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85271817-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.min.js"></script>

<script>
    $(document).ready(function()
        {
             $("#tabelaMunicipios").tablesorter({
                sortList: [[2,1]],
                textExtraction: function(node){
                    return parseFloat($(node).text().replace(/\./g,'').replace('/,/g', '.'));
                }
             });
             $("#tabelaPartidos").tablesorter({
                sortList: [[1,1]],
                textExtraction: function(node){
                    return parseFloat($(node).text().replace(/\./g,'').replace('/,/g', '.'));
                }
             });
             $("#tabelaAtividadesPrimarias").tablesorter({
                sortList: [[0,0]],
                textExtraction: function(node){
                    return parseFloat($(node).text().replace(/\./g,'').replace('/,/g', '.'));
                }
             });
             $("#tabelaAtividadesSecundarias").tablesorter({
                sortList: [[0,0]],
                textExtraction: function(node){
                    return parseFloat($(node).text().replace(/\./g,'').replace('/,/g', '.'));
                }
             });
        }
    );
</script>
</body>
</html>
{{end}}
